.gauge {

  width: 200px;
  max-width: 200px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 32px;
  color: #000000;
  margin: 20px;
}

.gauge {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  margin-right: 20px;
}


.gaugeBody {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #ebf0f0;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;

  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 15px #000000;

  background-image: linear-gradient(to right, #00ff09, #a1d300, #d3a100, #ea6800, #eb1212);

}

.gaugeFill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: rgb(25 172 25 / 0%);
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.niddle {
  position: absolute;
  left: 45px;
  width: 1px;
  height: 20%;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 50px solid rgb(2, 2, 2);

}

.gaugeCover {
  width: 60%;
  height: 120%;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);


  /* For Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}
