<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
</head>

<body>
  <div class="gauge">
    <p>Speed</p>
    <div class="gaugeBody">
      <div class="gaugeFill">
        <div class="niddle">
        </div>
      </div>
      <div class="gaugeCover"></div>
    </div>
  </div>

</body>

</html>
