<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="gauge">
      <p>V_LL</p>
        <div class="gauge__body">
          <div class="gauge__fill">
            <div class="pointer"></div>
          </div>
          <div class="gauge__cover"></div>
        </div>
      </div>


      <div class="gauge1">
        <p>KVA</p>
        <div class="gauge__body1">
          <div class="gauge__fill1">
            <div class="pointer1"></div>
          </div>
          <div class="gauge__cover1"></div>
        </div>
      </div>


</body>

</html>